/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card-subtitle {
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0px;
    column-gap: 30px;
    box-sizing: border-box;
}

.card-content {
    padding-left: 10px;
    padding-right: 10px;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 8px;
}

.hebergements-cards .card-subtitle {
    margin-bottom: 8px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.hebergements-cards .card-rating i {
    font-size: 14px;
}

.see-more {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 30px;
}









/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}





/****** Activités ***********/
.activities {
    margin-top: 30px;
    padding: 30px;
}

.activities-title {
    margin-bottom: 30px;
}

.activities-cards {
    display: flex;
    gap: 30px;
    box-sizing: border-box;
    height: 439px;
}

.activities-cards img {
    flex: 0 0 80%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.activities-cards .card {
    flex: 1;
    display: flex;
    flex-direction: column;
    
}



.activities .card-title {
    flex: 0 0 20%;
    display: flex;
    padding: 20px 19px 20px 19px;
}



















/****** Header ***********/
nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 30px;
}

.navlogo {
    display: flex;
    height: 19px;
    width: 61.9px;
    padding: 30px 0px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    gap: 68px;
}

.menu a {
    display: inline-block;
    height: 40px;
    vertical-align: bottom;
    line-height: 40px;
}

.menu :hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}


h1 {
    font-size: 22px;
    margin-bottom: 0px;
}

p {
    margin-top: 8px;
}

.barrederecherche {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
    background: #FFFFFF;
    border: 1px solid white;
    border-radius: 15px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.barrederecherche i {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 50px;
    width: 49px;
}

.barrederecherche input[type="text"] {
    font-size: 18px;
    border: none;
    color: black;
    text-align: center;
}

.barrederecherche input[type="text"]::placeholder {
    color: black;
    font-weight: bold;
    text-align: center;
}

.barrederecherche button {
    height: 53px;
    width: 133px;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
}

.barrederecherche form {
    display: flex;
}

.filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filtres h2 {
    font-size: 18px;
}

.boutonsfiltres ul {
    font-size: 17px;
    gap: 15px;
    list-style: none;
    display: flex;
    padding:  4px 19px;
}

.boutonsfiltres li a {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 14px 16px;
}

.boutonsfiltres li :hover {
    background-color: #DEEBFF;
}


.inform {
  display: flex;
  align-items: center;   
  gap: 10px;             
  margin: 35px 0px;
}

.inform i {  
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px; 
}

.inform p {
  margin: 0;          
}

.mainheader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}






/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .filtres {
       flex-direction: column;
       align-items: flex-start;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    

    nav {
        flex-direction: column;
        align-items: center;
        width: 375px;
    }

    .navlogo {
        justify-content: center;
    }

    .menu {
        display: flex;
        width: 100%;
        font-size: 19px;
        gap: 15px;
    }

    .navlink {
        width: 50%;
        text-align: center;
        padding: 15px;
    }

    .menu :hover {
    color: #0065FC;
    border-bottom: 2px solid #0065FC;
    border-top: none;
    }
    
    h1 {
        text-align: left;
        width: 335px;
        padding-bottom: 0px;
    }

    p {
        margin-top: 0px;
    }

    .barrederecherche {
        justify-content: center;
        align-items: center;
        width: 335px;
    }


    .boutonsfiltres ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
        white-space: nowrap;
    }

    .boutonsfiltres ul li a {
        justify-content: center;
    }

    .mainheader {
        width: 375px;
        margin: 20px 20px;
    }

} 